<ion-view title="Food Experience">
    <ion-content align="center" class="has-header padding" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col">
               <button class="button button-positive" bca-camera-take-picture ng-model="foodPicture"> Take Pic</button>
            </div>
            <div class="col">
               <button class="button button-positive" bca-camera ng-model="foodPicture"> Gallery </button>
             </div>
        </div>
        <div class="row" >
            <img ng-src="{{foodPicture}}" height="128px" width="128px"/>
        </div>
        <div class="row">
            <!--<div class="list">-->
                <label class="item item-input">
                    <span class="input-label">Price</span>
                    <input type="number" ng-model="foodExperience.Price">
                </label>
        </div>
        <div class="row">
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="foodExperience.Description">
                </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-positive" ng-click="ShareFoodExperience(foodExperience)"> Share it!</button>
            </div>
        </div>
    </ion-content>
</ion-view>