<ion-view title="Food Experience">
    <ion-content class="has-header padding" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col">
               <button class="button button-positive" bca-camera-take-picture ng-model="FoodPic"> Take Pic</button>
            </div>
            <div class="col">
               <button class="button button-positive" bca-camera ng-model="FoodPic"> Gallery </button>
             </div>
        </div>
        <div class="row" ng-show="showFoodPicture">
            <img ng-src="{{foodPicture}}" ng-show="showFoodPicture" height="120px" width="120px"/>
        </div>
        <div class="row">
            <!--<div class="list">-->
                <label class="item item-input">
                    <span class="input-label">Price</span>
                    <input type="number" ng-model="experience.Price">
                </label>
        </div>
        <div class="row">
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="experience.Description">
                </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-positive"  ng-click="ShareFoodExperience()"> Share it!</button>
            </div>
        </div>

    </ion-content>
</ion-view>