<ion-view title="Authentication">
    <ion-content class="has-header padding">
        <h1>Authentication</h1>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.Email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.Password">
            </label>
        </div>
        <button class="button button-positive" ng-click="signInUser(user)" ng-href='#here'>
            Sign In
        </button>
        <button class="button button-positive" ng-click="signUpUser(user)" ng-href='#here'>
            Sign Up
        </button>

    </ion-content>
</ion-view>